.Footer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #e9f0fa;
    border-top: 1px solid #ccd8ea;

    font-size: 12px;
    color: #5c6b82;

    box-sizing: border-box;
    padding: 0 16px;
}
