html,
body,
#root {
    margin: 0;
    padding: 0;
    height: 100%;
}


.Layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr 30px; 
    min-height: 100vh;
    box-sizing: border-box;
    background: #f5f8fc; 
}


.Layout header {
    grid-row: 1;
    grid-column: 1;
}


.Layout main {
    grid-row: 2;
    grid-column: 1;
    overflow: auto;
    padding: 16px 20px;
    box-sizing: border-box;
}

.Layout footer {
    grid-row: 3;
    grid-column: 1;
}

